body {
    font:18px/1.8 Arial, Helvetica, sans-serif;
    width: 1250px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width:1250px){
    body {
        font:18px/1.8 Arial, Helvetica, sans-serif;
        width: 100%;
    }
}

h2 {
    margin-top: 0px
}

a {
    color: #0088cc;
    text-decoration: none;
}

a:visited {
    color: #b94a48;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

li {
    float: right;
}

#category_list {
    color: #000000;
    text-decoration: none;
}

img {
    width: 100%;
}

.frame {
    width: 90%;
    margin: 0 auto;
    border: 1px solid #fff;
}

.frame div {
    background-color: #fff;
}

.header {
    padding:40px 10px;
    background: #fff;
    margin-bottom: 0px;
    border-bottom: 1px solid #aaa
}

.logo {
    font-size: 2em;
    font-weight: bold;
    display: inline-block;
    padding: 0 8px;
}

@media (max-width:850px) {
    .logo {
        font-size: 1.4em;
        font-weight: bold;
        display: inline-block;
        padding: 0 8px;
    }
}

@media (max-width:650px) {
    .logo {
        font-size: 1.1em;
        font-weight: bold;
        display: inline-block;
        padding: 0 8px;
    }
}

.container {
    overflow: hidden; 
}

.nav {
    width: 100%;
}

.nav-header {
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 10px;
    padding-left: 5px;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0 0;
}

.nav-item {
    margin: 4px 0;
}

.selected {
    font-weight: bold;
    background-color: #ddd;
}

.nav-link {
    display: block;
    text-decoration: none;
    padding: 4px 10px;
}

.nav-link:hover {
    background: #ddd;
}

.content {
    float: left;
    position: relative;
    padding-left: 50px;
    padding-bottom: 50px;
    width: 100%;
    height: 100%;
    min-height: 600px;
}

@media (max-width:850px){
    .nav {
        float: left;
        width: 100%;
        height: 100%;
        border-bottom: 1px solid #aaa;
    }

    .nav-header {
        font-weight: bold;
        font-size: 18px;
        margin: 0;
        padding-top: 25px;
        padding-bottom: 10px;
        padding-left: 5px;
    }

    .nav-list {
        list-style: none;
        margin: 0;
        padding: 0 0;
    }

    .nav-item {
        margin: 4px 0;
    }

    .selected {
        font-weight: bold;
        background-color: #ddd;
    }
    .nav-link {
        display: block;
        text-decoration: none;
        padding: 4px 10px;
    }
    .nav-link:hover {
        background: #ddd;
    }
    
    .content {
        float: left;
        position: relative;
        padding-left: 20px;
        padding-bottom: 10px;
        border-left: 0px solid #aaa;
        width: 90%;
        height: 100%;
        min-height: 600px;
    }
}

.footer {
    text-align: center;
    border-top: 1px solid #aaa;
    font-size: 12px;
}

/* Index */
.section-content {
    padding-left:20px;
}

.left-block {
    width: 40%;
    height: 300px;
    float: left;
}

.right-block {
    width: 60%;
    height: 300px;
    float: left;
}

@media (max-width:1000px){
    .left-block {
        width: 100%;
        height: 300px;
        float: none;
    }   

    .right-block {
        width: 100%;
        height: 300px;
        float: none;
    } 
}

#map-block {
    width: 90%;
    height: 100%;
}

/* People */
.leader-block {
    width: 100%;
    float: left
}


.member-block {
    width: 100%;
    float: left
}

.people-card {
    width: 40%;
    padding-left:10px;
    margin-bottom:10px;
    margin-right: 50px;
    float:left;
    padding-bottom:10px;
    border-bottom:1px solid #aaa
}

@media (max-width:800px){
    .people-card {
        width: 50%;
        padding-left:10px;
        margin-bottom:10px;
        padding-bottom:10px;
        border-bottom:1px solid #aaa
    }
}

.people-pic {
    width: 100px;
    height: auto;
    padding-top: 10px;
}


.people-name {
    font-weight: bold;
}

.people-position {
}

.people-email {
    color: #0088cc;
}

/* Proejct */
.project-card {
    border-bottom: 1px solid #aaa;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.project-card h3 {
    margin-top: 0px;
    margin-bottom: 5px;
}

.project-card a {
    color: #0088cc;
    text-decoration: underline;
}

#project_goal {
    width: 100%;
}

#npex_img {
    width: 70%;
}

#adapt_img {
    width: 60%;
}

/* Document */
.document-card {
    border-bottom: 1px solid #aaa;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.document-card h3 {
    margin-top: 0px;
    margin-bottom: 5px;
}

.document-card a {
    color: #0088cc;
    text-decoration: underline;
}
