body {
    font:16px/1.8 Arial, Helvetica, sans-serif;
}

a {
    color: inherit;
    text-decoration: none
}

a:hover {
    text-decoration: underline;
}

.frame {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #fff;
}

.header {
    padding:40px 10px;
    background: #fff;
    margin-bottom: 0px;
    border-bottom: 1px solid #aaa
}

.logo {
    font-size: 2em;
    font-weight: bold;
    display: inline-block;
    padding: 0 8px;
}

.container {
    overflow: hidden; 
}

.nav {
    float: left;
    width: 20%;
    height: 100%;
}

.nav-header {
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 10px;
    padding-left: 5px;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0 0;
}

.nav-item {
    margin: 4px 0;
}

.nav-link {
    display: block;
    text-decoration: none;
    padding: 4px 10px;
}
.nav-link:hover {
    background: #ddd;
}

.content {
    float: left;
    position: relative;
    padding-left: 50px;
    border-left: 1px solid #aaa;
    width: 70%;
}

.footer {
    text-align: center;
    border-top: 1px solid #aaa;
    font-size: 12px;
}