{{ if .HasShortcode "gallery" }}
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/imagesloaded@5.0.0/imagesloaded.pkgd.min.js" integrity="sha256-htrLFfZJ6v5udOG+3kNLINIKh2gvoKqwEhHYfTTMICc=" crossorigin="anonymous"></script>
<script>
    var gallery = document.querySelector('.gallery');

    var masonry = new Masonry(gallery, {
        itemSelector: '.item',
        percentPosition: true
    });

    imagesLoaded( gallery ).on( 'progress', function() {
    masonry.layout();
    });
</script>
{{ end }}