<link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css" rel="stylesheet">
<style>
    body {
        font-family: 'NanumSquareNeo';
    }

    .nsneo-light {
        font-family: 'NanumSquareNeoLight';
    }

    .nsneo-normal {
        font-family: 'NanumSquareNeo';
    }

    .nsneo-bold {
        font-family: 'NanumSquareNeoBold';
    }

    .nsneo-extrabold {
        font-family: 'NanumSquareNeoExtraBold';
    }

    .nsneo-heavy {
        font-family: 'NanumSquareNeoHeavy';
    }
</style>