{{ block "html" . }}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/favicon.svg" />
    <title>{{ .Title }} - {{ .Site.Title }}</title>
    {{ partial "head/conditional-css.html" . }}
    {{ partial "head/bootstrap5.html" . }}
    {{ partial "head/blockquote.html" . }}
    {{ block "head" . }}{{ end }}
</head>

<body>
    {{ partial "header/navbar.html" . }}
    <div class="mx-auto px-3 mt-4 container-xxl">
        {{ block "main" . }}{{ end }}
        {{ partial "footer/footer.html" . }}
    </div>
    {{ partial "foot/bootstrap5.html" . }}
    {{ partial "foot/conditional-js.html" . }}
</body>

</html>

{{ end }}