{{ $id := replaceRE "[()]" "" .id | printf "%s-group-photos" }}
<div class="d-flex flex-row">
    [{{ partial "hook/link.html" (dict "text" (len .photos | printf "group-photos (%d) >") "dest" (printf "#%s" $id) "role" "button" "data_bs_toggle" "collapse" "aria_expanded" "false") }}
    <div class="collapse collapse-horizontal" id="{{ $id }}">
        <div class="d-flex flex-row">
            {{ range $i, $photo := .photos}}
            <div class="ms-2">
                {{ partial "hook/link.html" (dict "text" (add $i 1) "dest" $photo) }}
            </div>
            {{ end }}
        </div>
    </div>]
</div>