{{ $folder := .Get "folder" }}
{{ $folder := strings.TrimPrefix "./" $folder }}
{{ $images := .Page.Resources.ByType "image" }}
{{ $images := sort $images "Exif.Date" "desc" }}
{{ $name := replace $folder "." "" }}
{{ $name := replace $name "/" "-" }}

<div class="gallery row" id="{{ $name }}Gallery"></div>
<div class="gallery-holder d-none" data-gallery-target="#{{ $name }}Gallery">
    {{ range $idx, $org := $images }}
        {{ $image := strings.TrimPrefix "./" $org }}
        {{ $image := $.Page.Resources.GetMatch $image }}
        {{ $orientation := 1 }}
        {{ with $image.Exif }}
            {{ with .Tags }}
                {{ with .Orientation }}
                    {{ $orientation = . }}
                {{ end }}
            {{ end }}
        {{ end }}
        {{ if eq $orientation 8 }}
            {{ $image = $image.Resize "1000x webp r90" }}
        {{ else if eq $orientation 6 }}
            {{ $image = $image.Resize "1000x webp r270" }}
        {{ else if eq $orientation 3 }}
            {{ $image = $image.Resize "1000x webp r180" }}
        {{ else }}
            {{ $image = $image.Resize "1000x webp" }}
        {{ end }}
        {{ $placeholder := $image.Resize "1x1" }}
        {{ $placeholder := printf "%dx%d" $image.Width $image.Height | $placeholder.Resize }}
        {{ $placeholderColor := index $placeholder.Colors 0 }}
        {{ $placeholderColor := replace $placeholderColor "#" "%23" }}
        <div class="gallery-item col-sm-6 col-lg-4 px-1 pb-2" data-bs-toggle="modal" data-bs-target="#{{ $name }}Modal" role="button" data-bs-image="{{ $org }}">
            <div data-bs-target="#{{ $name }}Carousel" data-bs-slide-to="{{ $idx }}">
                <div class="card">
                    <img
                        src="data:image/svg+xml;utf8,%3Csvg width='1000' height='{{ $image.Height }}' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='1000' height='{{ $image.Height }}' x='0' y='0' fill='{{ $placeholderColor }}' /%3E%3C/svg%3E"
                        data-src="{{ $image.RelPermalink }}"
                        class="lazy card-img w-100"
                    >
                </div>
            </div>
        </div>
    {{ end }}
</div>

<div class="modal fade" id="{{ $name }}Modal" tabindex="-1" aria-labelledby="{{ $name }}ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content bg-transparent border-0" data-bs-theme="dark">
            <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
            <div id="{{ $name }}Carousel" class="carousel slide">
                <div class="carousel-inner d-flex align-items-center">
                    {{ range $idx, $image := $images }}
                    <div class="carousel-item{{ if eq $idx 0 }} active{{ end }}">
                        <img src="{{ $image }}" class="d-block w-100" loading="lazy">
                    </div>
                    {{ end }}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#{{ $name }}Carousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#{{ $name }}Carousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>