{{ define "head" }}
<style>
    article {
        counter-reset: figure;
    }

    article.autonumbering {
        counter-reset: section figure;
    }

    article.autonumbering > .fs-4 {
        counter-reset: subsection;
    }

    article.autonumbering > .fs-4::before {
        counter-increment: section;
        content: counter(section)". "
    }

    article.autonumbering > .fs-5::before {
        counter-increment: subsection;
        content: counter(section)"."counter(subsection)". "
    }

    article > figure {
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }

    article > figure > img {
        max-width: 100%;
        object-fit: scale-down;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0.5rem;
    }

    article > figure > figcaption {
        text-align: center;
    }

    article > figure > figcaption > p::before {
        counter-increment: figure;
        content: "Figure "counter(figure)". ";
        font-weight: bold;
    }
</style>
{{ end }}

{{ define "main" }}
<div class="fs-2 fw-bold">
    {{ with .Param "title" }}{{ . }}{{ end }}
</div>
<div class="fs-6">
    <span class="fw-bold">{{ with .Param "author" }}{{ . }}{{ end }}</span>
    <span class="mx-0">
        {{/* See "https://icons.getbootstrap.com/icons/dot/" */}}
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
            <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
        </svg>
    </span>
    <span>{{ with .Param "from" }}{{ . }}{{ end }} - {{ with .Param "to" }}{{ . }}{{ end }}</span>
</div>

<hr>

<article {{ if .Param "autonumbering" }}class="autonumbering"{{ end }}>
    {{ .Content }}
</article>
{{ end }}