{{ define "head" }}
<style>
    .cfg {
        display: flex;
        flex-direction: row;
    }

    .cfg > .fs-5.fw-bold {
        min-width: 11em;
        text-align: right;
    }

    .cfg > .fs-5.fw-bold::after {
        content: url(https://icons.getbootstrap.com/assets/icons/arrow-right.svg);
    }

    .cfg > ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        list-style: none;
        padding-left: 0;
    }
    
    .cfg > ul > li {
        margin-right: 1rem;
        margin-bottom: 1rem;
    }

    .cfg > ul > li:first-child {
        padding-left: 1rem;
    }

    .cfg > ul > li:not(:first-child) {
        border-left: 1px solid #000;
        padding-left: 1rem;
    }
</style>
{{ end }}

{{ define "main" }}
{{ .Content }}
{{ end }}