{{ define "main" }}
{{ $scratch := newScratch }}
{{ $scratch.Set "name" .Title }}
{{ with .Params.ko }}{{ $scratch.Set "name" (print ($scratch.Get "name") " (" . ")") }}{{ end }}
{{ partial "hook/heading.html" (dict "level" 1 "text" ($scratch.Get "name") "anchor" .File.ContentBaseName ) }}

<div class="d-flex mt-2 mb-4">
    {{ if isset .Params "portrait" }}
    <div class="me-3">
        <img src="{{ .Params.portrait }}" class="img-fluid" width="150">
    </div>
    {{ end }}
    <div>
        {{ with .Params.role }}{{ . }}{{ end }}<br>
        {{ with .Params.affiliation }}
        {{ range . }}
            {{ if isset . "url" }}{{ partial "hook/link.html" (dict "dest" .url "text" .name) }}{{ else }}{{ .name }}{{ end }}<br>
        {{ end }}
        {{ end }}
        {{ with .Params.materials }}
            {{ with .cv }}[{{ partial "hook/link.html" (dict "dest" . "text" "cv") }}]{{ end }}
            {{ with .github }}[{{ partial "hook/link.html" (dict "dest" (printf "https://github.com/%s" .) "text" "github") }}]{{ end }}
            {{ with .website }}[{{ partial "hook/link.html" (dict "dest" . "text" "website") }}]{{ end }}
        {{ end }}
    </div>
</div>

{{ .Content }}
{{ end }}