{{ define "main" }}
{{ $scratch := newScratch }}
{{ $scratch.Set "name" .Title }}
{{ with .Params.ko }}{{ $scratch.Set "name" (print ($scratch.Get "name") " (" . ")") }}{{ end }}
{{ partial "hook/heading.html" (dict "level" 1 "text" ($scratch.Get "name") "anchor" .File.ContentBaseName ) }}

<div class="d-flex mt-2 mb-4">
    {{ if isset .Params "portrait" }}
    {{ $image := "" }}
    {{ if hasPrefix .Params.portrait "http" }}
        {{ $image = resources.GetRemote .Params.portrait }}
    {{ else }}
        {{ $image = .Resources.GetMatch .Params.portrait }}
    {{ end }}
    {{ $orientation := 1 }}
    {{ with $image.Exif }}
        {{ with .Tags }}
            {{ with .Orientation }}
                {{ $orientation = . }}
            {{ end }}
        {{ end }}
    {{ end }}
    {{ if eq $orientation 8 }}
        {{ $image = $image.Resize "x750 webp r90" }}
    {{ else if eq $orientation 6 }}
        {{ $image = $image.Resize "x750 webp r270" }}
    {{ else }}
        {{ $image = $image.Resize "x750 webp"  }}
    {{ end }}
    <div class="me-3">
        <img src="{{ $image.RelPermalink }}" height="150">
    </div>
    {{ end }}
    <div>
        {{ with .Params.role }}{{ . }}{{ end }}<br>
        {{ with .Params.affiliation }}
        {{ range . }}
            {{ if isset . "url" }}{{ partial "hook/link.html" (dict "dest" .url "text" .name) }}{{ else }}{{ .name }}{{ end }}<br>
        {{ end }}
        {{ end }}
        {{ with .Params.materials }}
            {{ with .cv }}[{{ partial "hook/link.html" (dict "dest" . "text" "cv") }}]{{ end }}
            {{ with .github }}[{{ partial "hook/link.html" (dict "dest" (printf "https://github.com/%s" .) "text" "github") }}]{{ end }}
            {{ with .website }}[{{ partial "hook/link.html" (dict "dest" . "text" "website") }}]{{ end }}
        {{ end }}
    </div>
</div>

{{ .Content }}
{{ end }}