{{ $folder := .Get "folder" }}
{{ $folder := strings.TrimPrefix "./" $folder }}
{{ $images := .Page.Resources.ByType "image" }}
{{ $images := sort $images "Exif.Date" "desc" }}

<div class="gallery row">
    {{ range $idx, $image := $images }}
        {{ $image := strings.TrimPrefix "./" $image }}
        {{ $image := $.Page.Resources.GetMatch $image }}
        {{ $orientation := 1 }}
        {{ with $image.Exif }}
            {{ with .Tags }}
                {{ with .Orientation }}
                    {{ $orientation = . }}
                {{ end }}
            {{ end }}
        {{ end }}
        {{ if eq $orientation 8 }}
            {{ $image = $image.Resize "1000x webp r90" }}
        {{ else if eq $orientation 6 }}
            {{ $image = $image.Resize "1000x webp r270" }}
        {{ else if eq $orientation 3 }}
            {{ $image = $image.Resize "1000x webp r180" }}
        {{ else }}
            {{ $image = $image.Resize "1000x webp" }}
        {{ end }}
        <div class="item col-sm-6 col-lg-4 px-1 pb-2">
            <div class="card">
                <img src="{{ $image.RelPermalink }}" loading="lazy" class="card-img w-100">
            </div>
        </div>
    {{ end }}
</div>
