{{ $raw := index $.Site.Data.publications }}

{{ $data := dict }}
{{ range $year, $papers := $raw }}
    {{ $block := (dict "year" $year "papers" $papers) }}
    {{ $data = merge $data (dict $year $block) }}
{{ end }}

{{ range $block := sort $data "year" "desc" }}

{{ partial "hook/heading.html" (dict "level" 2 "text" $block.year "anchor" $block.year) }}
<ul>
    {{ range $block.papers }}
    <li>
        <span class="fw-bold">{{ .title }}</span></br>
        {{ partial "publication/authors.html" .authors }}</br>
        {{ partial "publication/target.html" .target }}</br>
        {{ with .award }}{{ partial "publication/award.html" . }}</br>{{ end }}
        {{ partial "publication/materials.html" .materials }}
    </li>
    </br>
    {{ end }}
</ul>

{{ end }}