{{ $data := index $.Site.Data.publications }}

{{ range $key, $value := $data }}
{{ partial "hook/heading.html" (dict "level" 2 "text" $key "anchor" $key) }}
<ul>
    {{ range $value }}
    <li>
        <span class="fw-bold">{{ .title }}</span> </br>
        {{ partial "publication/authors.html" .authors }} </br>
        {{ partial "publication/target.html" (dict "target" .target "year" $key) }} </br>
        {{ partial "publication/materials.html" .materials }}
    </li>
    </br>
    {{ end}}
</ul>

{{ end }}